*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #113323;
}

h1 {
  text-align: center;
  margin: 40px auto;
  letter-spacing: 0.25em;
  color: whitesmoke;
}
#welStart {
    text-align: center;
    margin: 40px auto;
    letter-spacing: 0.25em;
    color: whitesmoke;

}

button {
    background-color: whitesmoke;
    column-rule: black;
    border-radius: 5px;
    border : 2px solid black;
    height: 10%;
    width: 100%;
}
body {
    
} 
main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    width: 100%;
}

 .gameArea {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: left;
  margin: 0 auto;
  width: 60%;
  background-color: #113323;
} 

#questionBarStyle {
    display: flex;
    width: 50%;
    height: 30%;
    background-color: yellow;
}
#answerContainer {
    width: 50%;
    display: flexbox;
}
.answerBox {
    background-color: whitesmoke;
    column-rule: black;
    border-radius: 5px;
    border : 2px solid black;
    height: 90px;
    width: 100%;
}
#gameMatt {
    width: 100%;
    margin: 0 auto;
    border: 5px solid red;
}

aside {
    display: flex;
    width: 25%;
    height: 50vh;
    background-color: salmon;
    justify-content: right;
    text-align: center;
}
aside h2 {
    margin: 0 auto;
    color: rgb(24, 24, 24);
    text-decoration: underline;
}