*,
*::before,
*::after {
  box-sizing: border-box;
  
}

body {
  background: linear-gradient(270deg, rgb(73, 82, 107), #113323)
}

h1 {
  text-align: center;
  margin: 40px auto;
  letter-spacing: 0.25em;
  color: whitesmoke;
}
#welStart {
    text-align: center;
    margin: 40px auto;
    letter-spacing: 0.25em;
    color: whitesmoke;

}

button {
    background-color: whitesmoke;
    column-rule: black;
    border-radius: 5px;
    border : 2px solid black;
    width: 100%;
    font-size: large;
    font-weight: 700;
}
#realStart {
    height: 65px;
    box-shadow: 10px 3px 10px 10px rgba(0, 0, 0, 0.589);
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    width: 100%;
}

.gameArea {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: left;
  margin: 0 auto;
  width: 60%;
  background:linear-gradient(90deg, rgb(73, 82, 107), #113323)
  
} 
ul {
    list-style-type: none;
}

#questionBarStyle {
    display: flex;
    width: 100%;
    height: 30vh;
    background-color: rgb(238, 238, 80);
    font-size: large;
    padding: 5px;
    box-shadow: 10px 3px 10px 10px rgba(0, 0, 0, 0.589);    
    font-weight: 700;

}
#answerContainer {
    width: 100%;
    display: flexbox;
    font-size: larger;
}
.answerBox {
    background-color: rgb(180, 177, 177);
    column-rule: black;
    border-radius: 5px;
    border : 2px solid black;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
}



.answerContainer button {
    background-color: rgba(0, 0, 0, 0.137);
    height: 12vh;
    box-shadow: 5px 3px 15px 12px rgba(0, 0, 0, 0.589);

}
#gameMatt {
    width: 100%;
    margin: 0 auto;
    border: 55px solid rgb(151, 73, 73);
    border-radius: 15px;
    box-shadow: 65px bisque;
    box-shadow: 10px 3px 10px 10px rgba(0, 0, 0, 0.589);

}

aside {
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 50vh;
    background:linear-gradient(90deg, salmon, whitesmoke);
    justify-content: right;
    text-align: center;
    box-shadow: 1px 3px 10px 10px rgba(0, 0, 0, 0.589);
}
aside h2 {
    display: flex;
    margin: 0 auto;
    margin-right: 1%;
    color: rgb(24, 24, 24);
    text-decoration: underline;
}
#rankedScores {
    display: flex;
    flex-direction: column;
    margin-top: 130px;
    margin-left: 0;
    justify-content: left;
    text-align: left;
    align-items: left;
    margin-right: 50px;
    font-size: x-large;
}
#resetbtn {
    height: 300px;
    width: 200px;
    margin-bottom: 0;
}
